<html>
  <head>
    <title>Full Inventory Report</title>
  </head>
  <body>
    <table width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="#d8d8d8">
      <colgroup>
        <col style="width: %">
        <col style="width: 15%">
        <col style="width: 35%">
        <col style="width: 30%">
        <col style="width: 10%">
      </colgroup>
      <thead>
        <th><%= t(:title) %></th>
        <th><%= t(:sku) %></th>
        <th><%= t(:format) %></th>
        <th><%= t(:on_hand) %></th>
      </thead>
    </table>

  </body>
</html>
