<% unless @order.is_quote or 
     request.original_url =~ /new/ or 
     request.xhr? or 
     (@order.shipment_state and @order.shipment_state == "shipped") or
     (@order.respond_to?(:picked_at) and @order.picked_at != nil)
   %>
  <%= label_tag :is_dropship, "Dropship?" %>
  <br/>
  <%= select_tag 'order[is_dropship]', 
    options_for_select({'No' => false, 'Yes' => true  }, @order.is_dropship), 
    { size: 1, class: 'select2', id: "order_is_dropship" } %>

  <div class="clear"></div>
  <script>$('#order_is_dropship').select2();</script>
<% end %>
