<li>
  <a href="#" id="admin-order-button-menu">CREATE ORDER</a>
</li>
<script>
  $("#admin-order-button-menu").click(function () { 
    $("div#order-button-menu").fadeIn(500);
    return false;
  });
</script>
